.main {
  small {
    display: block;
    font-size: 12px;
    margin: 5px 0;
    color: red;
  }

  #pesquisar {
    display: flex;
    align-content: center;

    &.loader {
      @extend %loader-config;

      .material-icons {
        display: none;
      }
    }
  }

  .tabela-padrao {
    transition: opacity, box-shadow .5s;

    &.loader,
    .loader {
      opacity: .5;
      pointer-events: none;
    }
  }

  .container-input {
    .icon {
      &.loader {
        @extend %loader-config;

        .material-icons {
          display: none;
        }
      }
    }
  }

  .container-botao {
    margin: 20px 0;
  }

  .card {
    display: flex;
    flex-direction: column;
    margin: 30px 0;

    > div {
      flex: 1;

      & + div {
        margin-top: 30px;
      }
    }

    @include responsive() {
      flex-direction: row;

      > div {
        & + div {
          margin-top: 0;
          margin-left: 30px;
        }
      }
    }
  }
}
