header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
  box-shadow: 0px 0px 4px 1px rgba($black, .3);

  &:hover {
    box-shadow: 0px 0px 4px 1px rgba($black, .5);
  }

  .container-main {
    h1 {
      text-align: center;
    }
  }
}
