$green: #008060;
$green-light: #90b02d;
$yellow: #f5ff65;
$black: #333;
$white: #fff;
$gray: #ededed;
$gray-light: #f3f3f3;

$border-default: solid 1px #ddd;
$box-shadow: 1px 1px 5px 0px rgba($black, 0.19);
$box-shadow-hover: 0px 0px 4px 1px rgba($black, .3);
$border-radius: 5px;
