<div>
  <h2>Categories</h2>

  <h3>Lista de categorias</h3>
  <button type="button" (click)="showCategories()">Buscar categorias</button>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categorie of categories">
        <td>{{categorie.id}}</td>
        <td>
          <span *ngIf="categorie!==editCategorie">{{categorie.name}}</span>
          <input *ngIf="categorie===editCategorie"
            type="text" [(ngModel)]="categorie.name" (blur)="update()"
            (keyup.enter)="update()">
        </td>
        <td>
          <button type="button" (click)="removeCategorie(categorie)">Deletar</button>
          <button type="button" (click)="edit(categorie)">Atualizar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="error" class="error">{{error | json}}</p>
</div>

<div>
  <h3>Adicionar nova categoria</h3>
  <input #input placeholder="Digite uma categoria" type="text">
  <button type="button" (click)="addCategorie(input.value); input.value=''">Add categorie</button>
  <input #findById type="text">
  <button type="button" (click)="findCategories(findById.value); findById.value=''">Find by ID</button>
  <p *ngIf="resultadoBuscaPorId">{{resultadoBuscaPorId | json}}</p>
</div>
