<div class="categories">
  <div class="container-main">
    <h2>Categorias</h2>

    <div class="card">
      <div class="container-input">
        <label for="add-categoria">Adicionar nova categoria:</label>
        <div>
          <input #input id="add-categoria" placeholder="Digite uma categoria" type="text">
          <button class="icon" [class.loader]="loaderPost" type="button" (click)="addCategorie(input.value); input.value=''">
            <i class="material-icons">add</i>
          </button>
        </div>
      </div>
      <div class="container-input">
        <label for="buscar-categoria">Pesquisar uma categoria pelo ID:</label>
        <div>
          <input #findById id="buscar-categoria" placeholder="Digite um id de categoria" type="text">
          <button class="icon" [class.loader]="loaderGetId" type="button" (click)="findCategories(findById.value); findById.value=''">
            <i class="material-icons">search</i>
          </button>
        </div>
      </div>
    </div>

    <small>
      *A api está com problemas no método [GET] /categories "Lista categorias",
      pois o mesmo não está retornando a lista completa de categorias,
      está mockado trazendo apenas dois itens (Compras e tarefas), para contornar esse problema do serviço o método "pesquisar por id"
      foi acrescentado em todas as telas, tornando possível a visualização dos itens inseridos exceto aos iniciais já mencionados.
      <br>
    </small>

    <table class="tabela-padrao" [class.loader]="loaderPut">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody [class.loader]="loaderDelete">
        <tr *ngFor="let categorie of categories">
          <td>{{categorie.id}}</td>
          <td>
            <span *ngIf="categorie!==editCategorie">{{categorie.name}}</span>
            <input *ngIf="categorie===editCategorie"
              type="text" [(ngModel)]="categorie.name"
              (blur)="update()" (keyup.enter)="update()">
          </td>
          <td>
            <a class="icon" routerLink="/lists/{{categorie.id}}">
              <i class="material-icons">visibility</i>
            </a>
            <button class="icon" type="button" (click)="removeCategorie(categorie)">
              <i class="material-icons">delete</i>
            </button>
            <button class="icon" type="button" (click)="edit(categorie)">
              <i class="material-icons">create</i>
            </button>
          </td>
        </tr>
        <tr *ngIf="loader">
          <td colspan="3">
            <span class="loader-table"></span>
          </td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="error" class="error">{{error | json}}</p>
  </div>
</div>
